<div class="container">
  <div class="card">
  <div class="card-body">
   
    <h3>{{this.houses.address}}</h3>
   
  </div>
</div>
  <div class="row">
    <div class="col-10">
      <form id="cms" action="/houses/{{id}}/people" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name:</label>
          <input placeholder="Full Name" type="text" class="form-control" id="name" name="name">
          <br />
          <label for="age">Age:</label>
          <input placeholder="Age" class="form-control" id="age" name="age"></input>
          <br />
          <label for="pets">Pets:</label>
          <input type="checkbox" name="pets" value=true > I have pet<br>
          <br />
          <label for="disability">Disability or Special Condition:</label>
          <input placeholder="Disabilities or Special Condition" type="text" class="form-control" id="disability" name="disability" >
          <br />
          <label for="picture">User Picture (optional):</label>
          <img height="60px" width="60px" src="http://placehold.it/180" id="img"/>
          <input type="file" name="file" accept="image/*" id="file">
          <button type="submit" class="btn btn-success submit">Submit</button>
        </div>
			</form>
    </div>

    {{#each houses.People}}
     <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
        <p>
          <strong>ID</strong>: {{this.id}}</p>
        <p>
          <strong>Name</strong>: {{this.name}}</p>
        <p>
          <strong>Age:</strong> {{this.age}}</p>
        <p>
          <strong>Disability:</strong> {{this.disability}}</p>
        </div>
      </div>
    {{/each}}
       <a href="/">← Back To Home</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/example.js"></script>

